@page
@model NorthwindWeb.Pages.CustomersModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@section Stylesheets {
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css">
    <link rel="stylesheet" href="~/css/nested-list.css" />
}
<h1>Our customers</h1>
<div class="just-padding">
    <div class="list-group list-group-root card">
        @foreach (var country in Model.CustomerGroups)
        {
            <a href="#@country.Key" class="list-group-item" data-toggle="collapse">
                <i class="fas fa-angle-right mr-2"></i>@country.Key
            </a>
            <div class="list-group collapse" id="@country.Key">

                @foreach (var customer in country.Value)
                {
                    <a href="customer?id=@customer.CustomerID" class="list-group-item">@customer.CompanyName</a>
                }

            </div>
        }
    </div>
</div>
@section Scripts
{
    <script src="~/js/nested-list.js"></script>
}